* {
	 padding: 0;
	 margin: 0;
	 box-sizing: border-box;
}
img {
	 width: 100%;
     height: 100%;
     object-fit: contain;
}

body {
     display: grid;
     grid-template-rows: 1fr;
     align-items: center;
}

.principal1{
     font-family: 'Open Sans', sans-serif;
     font-size: 20px;
     font-weight: 400;
     min-height: 100vh;
     background-image: linear-gradient(-25deg, #f2f2f2 50%, #5b4a9a 50%);
}

.principal2{
    background-color: #f2f2f2;
    padding: 50px 10px;
}

.relative{
    color: #333;
    font-weight: bold;
    font-size: 2rem;
}

.contenedor { 
	 background-color: #fff;
	 width: 95%;
	 max-width: 1200px;
	 margin: 85px auto;
	 padding: 40px;
	 border-radius: 10px;
}

header {
	 display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
     margin-bottom: 80px;
}

.logo {
	 font-size: 25px;
     font-weight: 600;
     color: #000;
	 text-decoration: none;
}

.menu  {
	 display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}

.menu a {
	 font-size: 22px;
     border-bottom: 2px solid transparent;
     margin-left: 40px;
     color: #000;
	 text-decoration: none;
	 transition: all 0.3s ease;
}

.menu a:hover {
	 border-bottom: 2px solid #f2c968;
}

main {
     display: flex;
     justify-content: flex-end;
     align-items: center;
}

main .contenedor-img {
     max-width: 90%;
     margin-right: 20px;
}

.primer-contenido{
     display: grid;
     grid-template-columns: 1fr 1fr;

}

.contenedor-texto .titulo {
     font-size: 45px;
     font-weight: normal;
     margin-bottom: 30px;
}

.contenedor-texto .mascota {
    font-size: 40px;
     font-weight: bold;
     color: #c99806;
     font-style: normal;
}

.contenedor-texto p {
     margin-right: 30px;
     margin-bottom: 40px;
     line-height: 36px;
}

.btn-link {
     display: inline-block;
     padding: 10px 30px;
	 border-radius: 100px;
     margin-right: 10px;
     text-decoration: none;
     color: #fff;
     background: #5b4a9a;
}

.btn-link:hover {
	background: #473b71;
}

.content-table{
    margin: 20px;
    font-family: 'Quicksand',sans-serif;
}

.content-table tr td{
    padding: 7px 7px;
}

.content-table tr th{
    padding: 10px;
    font-size: 23px;
}

@media screen and (max-width: 915px) {
     main {
          flex-direction: column;
          text-align: center;
     }

     main .contenedor-img {
          margin-bottom: 40px;
     }
}