body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
table{
    border: 0px;
    border-collapse: collapse;
}

td{
    width: 150px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    border: 4px solid lightgray;
}

.p{
    background-color: gray;
}

.v{
    background-color: green;
}

.a{
    background-color: darkblue;
}

.x {
    font-size: 200%;
    color: crimson;
    font-weight: bold;
}

.o {
    font-size: 200%;
    color: white;
    font-weight: bold;
}

.ganador {
    font-size: 200%;
    color: gold;
    font-weight: bold;
}