*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

  .mavbar-btand{
    margin-left: 1rem;
}
.navbar-nav{
    width: 32rem;
    justify-content:space-around;
}

.nav-item{
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.nav-item::after{
    content: "";
    display: block;
    background: #000;
    width: 100%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
  }
  .nav-item:hover{
    --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

.logo {
	line-height: 1;
  }
@media (min-width: 1200px) {
    .logo {
	  width: 100%;
	}
  }
  .logo img {
	max-height: 26px;
	margin-right: 6px;
  }
  .logo span {
	font-size: 26px;
	font-weight: 700;
	color: #012970;
	font-family: "Nunito", sans-serif;
  }

  /*---------header nav --------------*/
  .header-nav ul {
	list-style: none;
  }
  .header-nav > ul {
	margin: 0;
	padding: 0;
  }
  .header-nav .nav-icon {
	font-size: 20px;
	color: #012970;
  }
  .header-nav .nav-profile {
	color: #012970;
  }
  .header-nav .nav-profile img {
	max-height: 36px;
  }
  .header-nav .nav-profile span {
	font-size: 14px;
	font-weight: 600;
  }
  .header-nav .badge-number {
	position: absolute;
	inset: 4px 6px auto auto;
	font-weight: normal;
	font-size: 11px;
	padding: 3px 6px;
  }
  .header-nav .profile {
	min-width: 240px;
	padding-bottom: 0;
  }
  .header-nav .profile .dropdown-header h6 {
	font-size: 18px;
	margin-bottom: 0;
	font-weight: 600;
	color: #444444;
  }
  .header-nav .profile .dropdown-header span {
	font-size: 14px;
  }
  .header-nav .profile .dropdown-item {
	font-size: 14px;
	padding: 10px 15px;
	transition: 0.3s;
  }
  .header-nav .profile .dropdown-item i {
	margin-right: 10px;
	font-size: 18px;
	line-height: 0;
  }
  .header-nav .profile .dropdown-item:hover {
	background-color: #f6f9ff;
  }

  .header-nav .nav-carrito img {
	max-height: 40px;
  }

  .car{
    margin: 0 .5rem;
  }


  .bor-8{
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  .accordion-p{
    margin: 2.5rem 0;
  }

  .p1{
    margin: 1rem;
  }



  .section-p{
    background-color: #E5E1E1;
  }

  .contenedor-p { 
    background-color: #FAFAFA;
    width: 95%;
    max-width: 1300px;
    margin: 65px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}


.carousel-item {
    padding: 17px;
  }

  .carousel-control-next{
    background-color: #EEEEEE;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-control-prev{
    background-color: #EEEEEE;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }


  .carousel-item img{
    height: 40vh;
    margin: 0 auto;
    object-fit: cover;

  }

  .carousel-indicators{
    background-color: transparent;

  }
  .carousel-indicators li {
    opacity: 0.9;
  }
  .carousel-indicators li img{
    object-fit: contain;
    width: 500px;
    
  }

  .desc{
    color: #00A650;
    font-size: 18px;
  }


/*--------------- footer  ---------------------*/
footer{
    height: 300px;
    background-color: #060D54;
    color: #fff;
}