*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

:root{
  --colorgreen1: #035941;
  --colorgreen1hover:#01412f;
  --colorgreen2: #7DA641;
  --colorgreen2hover: #6b9133;
  --colornaranja1: #F2AC57;
  --colornaranja2: #F2CEA2;
  --colorbackground: #E5E1E1;
  --colorblanco: #fff;
  --colornegro:#000;
}

  /*---------------- seccion portada ------------------*/

.portada1 {
    position: relative;
    transition: 0.7s;
  }

  .portada1{
    background-image: url(../Image/Artesanos.png);
    height: 70vh;
  }

  .tittle-1{
    font-size: 500px;
    color: var(--colorblanco);
  }
  .tittle-2{
    font-size: 20px;
    color: var(--colorgreen1);
  }

  .descripcion{
    font-size: 15px;
    color: var(--colorblanco);
  }

  @media (max-width:768px) {
    .descripcion{
      font-size: 12px;
    }
    .portada1{
      height: 70vh;
    }
  }
  
  h2{
    font-weight: bold;
    color: var(--colorgreen1);
  }

  .texto{
    color: var(--colorgreen2);
  }

  /*-----------------------------------------------------------------  nosotros.html -------------------------------------------------------*/
  .cofundadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .cofundador {
    text-align: center;
    margin: 5px;
  }

  .cofundador img {
    width: 100%;
    max-width: 150px;
  }

  .nombres {
    margin-top: 5px;
    font-size: 14px;
  }
  
  .content-img img{
    /*height: 350px;*/
    object-fit: cover;
  }

  .row-p1 {
  display: flex;
  align-items: center;
}

.col-md-6:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-p{
    background-color: #E5E1E1;
  }

  .contenedor-p { 
    background-color: #FAFAFA;
    width: 95%;
    max-width: 1300px;
    margin: 35px auto;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.card-e{
    border-radius: 15px;
    background-color: #fff;
    
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    transition: 0.2s all;
}
.card-e:hover{
    scale: 1.1;
}

.card-e img{
    border-radius: 15px;
    max-height: 250px;
    object-fit: contain;
    padding: 15px;
}



.carousel-item {
    padding: 17px;
  }

  .carousel-control-next{
    background-color: #EEEEEE;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-control-prev{
    background-color: #EEEEEE;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .btn-izq{
    background-color: var(--colorgreen1);
    color: var(--colorblanco);
  }
  .btn-izq:hover{
    background-color: var(--colorgreen1hover);
    color: var(--colorblanco);
  }
  .btn-der{
    background-color: var(--colorgreen2);
    color: var(--colorblanco);
  }
  .btn-der:hover{
    background-color: var(--colorgreen2hover);
    color: var(--colorblanco);
  }

  .card-title{
    color: var(--colorgreen1);
    font-weight: bold;
  }

