*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}
  
 /*-----------------------------------------------------------------  tiendaOnline1.html -------------------------------------------------------*/
  


  .card-t{
    padding: 15px;
    /*border-bottom: 4px solid #000;*/
    
    background-color: transparent;
    transition: 0.2s all;
}

.card-t::after{
    content: "";
    display: block;
    background: #000;
    width: 100%;
    margin-top: 15px;
    height: 3px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.card-t:hover{
    scale: 1.1;
}

.card-t img{
    display: flex;
    align-items: center;
    object-fit: cover;
    max-width: 200px;
}


.section-t-o{
    background-color: #E5E1E1;
}

.contenedor-t { 
    width: 95%;
    max-width: 1300px;
    margin: 0px auto;
}

.favorito{
    top: 10px;
    left: 10px;
}
.favorito a{
    border: none;
    border-radius: 50%;
    background-color: rgba(255,255,255, 0.62);
}

.favorito a:hover{
    transform: scale(1.3);
    color:#1259C3;
}


.carrito{
    top: 10px;
    right: 10px;
}

.carrito a{
    border: none;
    border-radius: 50%;
    background-color: rgba(255,255,255, 0.62);
}

.carrito a:hover{
    transform: scale(1.3);
    color:#1259C3;
}



.card-t-o{
    width: auto;
    background-color: #fff;
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    transition: 0.2s all;
}
.card-t-o:hover{
    scale:1.1;
}

.card-t-o img{
    object-fit: contain;
    min-height: 199px;
    max-height: 200px;
    max-width: 100%;
}


.content-productos{
    background-color: #E5E1E1;
}


.contenedor-carrusel{
  background-color: #060D54;
  min-height: 60vh;
}

.img-car{
  object-fit: cover;
  min-height: 60vh;
}

/* .carousel-item {
    padding: 0px;
  }

  .carousel-control-next{
    background-color: #fff;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-control-next .img-next{
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background-color: #000;
  }

  .carousel-control-prev{
    background-color: #fff;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel-control-prev .img-prev{
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background-color: #000;
  } */


  /*carrusel simplificado*/
  .carousel__contenedor {
    margin: 10px;
    position: relative;
  }
  
  .carousel__anterior,
  .carousel__siguiente {
    position: absolute;
    display: block;
    width: 45px;
    height: 45px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: #EEEEEE;
    color: #000;
    font-size: 35px;
    opacity: 20%;
  }
  
  .carousel__anterior:hover,
  .carousel__siguiente:hover {
    opacity: 100%;
  }
  
  .carousel__anterior {
    z-index:100;
    left: -5px;
  }
  
  .carousel__siguiente {
    right: -5px;
  }
  
  .carousel__lista {
    margin: 7px;
    padding: 10px;
  }
  
  .carousel__elemento {
    text-align: center;
  }
  
  .carousel__indicadores .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: #000;
    opacity: .2;
    border-radius: 0;
  }
  
  .carousel__indicadores .glider-dot:hover {
    opacity: .5;
  }
  
  .carousel__indicadores .glider-dot.active {
    opacity: 1;
  }
