*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

:root{
  --colorgreen1: #035941;
  --colorgreen1hover:#01412f;
  --colorgreen2: #7DA641;
  --colorgreen2hover: #6b9133;
  --colornaranja1: #F2AC57;
  --colornaranja2: #F2CEA2;
  --colorbackground: #E5E1E1;
  --colorlight: #FAFAFA;
  --colorblanco: #fff;
  --colornegro:#000;
}


  .bor-8{
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  .accordion-p{
    margin: 2.5rem 0;
  }

  .p1{
    margin: 1rem;
  }



  .section-p{
    background-color: var(--colorbackground);
  }

  .contenedor-p { 
    background-color: #FAFAFA;
    width: 95%;
    max-width: 1300px;
    margin: 65px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}


.carousel-item {
    padding: 17px;
  }

  .carousel-control-next{
    background-color: #EEEEEE;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-control-prev{
    background-color: #EEEEEE;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }


  .carousel-item img{
    height: 40vh;
    margin: 0 auto;
    object-fit: cover;

  }

  .carousel-indicators{
    background-color: transparent;

  }
  .carousel-indicators li {
    opacity: 0.9;
  }
  .carousel-indicators li img{
    object-fit: contain;
    width: 500px;
    
  }

  .desc{
    color: #00A650;
    font-size: 18px;
  }

  .btn-izq{
    background-color: var(--colorgreen1);
    color: var(--colorblanco);
  }
  .btn-izq:hover{
    background-color: var(--colorgreen1hover);
    color: var(--colorblanco);
  }

  .botonreview-izq{
    background-color: var(--colorgreen2);
    color: var(--colorblanco);
  }
  .botonreview:hover{
    background-color: var(--colorgreen2hover);
    color: var(--colorblanco);
  }


  h2{
    color: var(--colorgreen1);
    font-weight: bold;
  }

  del{
    color: rgb(151, 38, 38);
  }

  .loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #FFF;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }
  
  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  } 
  

