*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}



  .section-p{
    background-color: #E5E1E1;
  }

  .contenedor-p { 
    background-color: #FAFAFA;
    width: 95%;
    max-width: 1300px;
    margin: 65px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.desc{
    color: #00A650;
    font-size: 18px;
  }

.cerrar{
    top: 7px;
    right: 7px;
    border-radius: 50%;
}
.cerrar a{
    background-color: #fafafa;
    border: none;
    border-radius: 50%;
    transition: 0.3s all;
    font-size: 25px;
    color: red;
}

.cerrar a:hover{
    transform: scale(1.1);
    color:white;
    background-color: red;
}



.carousel-item {
    padding: 17px;
  }

  .carousel-control-next{
    background-color: rgb(240, 240, 240);
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-control-prev{
    background-color: rgb(240, 240, 240);
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel-item img{
    min-height: 200px;
    max-height: 200px;
    margin: 0 auto;
    object-fit: cover;

  }

  .carousel-indicators{
    background-color: transparent;

  }
  .carousel-indicators li {
    opacity: 0.9;
  }
  .carousel-indicators li img{
    object-fit: contain;
    width: 500px;
    
  }



  /*--------------- footer  ---------------------*/
footer{
    height: 300px;
    background-color: #060D54;
    color: #fff;
}
