
*{
  padding: 0; 
  margin: 0;
  box-sizing: border-box;
}
:root{
  --colorgreen1: #035941;
  --colorgreen1hover:#01412f;
  --colorgreen2: #7DA641;
  --colorgreen2hover: #6b9133;
  --colornaranja1: #F2AC57;
  --colornaranja2: #F2CEA2;
  --colorbackground: #E5E1E1;
  --colorlight: #FAFAFA;
  --colorblanco: #fff;
  --colornegro:#000;
}
  /*---------------- seccion portada ------------------*/

.portada1 {
    position: relative;
    transition: 0.7s;
  }

  .portada1{
    background-image: url(../Image/Artesanos.png);
    height: 70vh;
  }

  .tittle-1{
    font-size: 500px;
    color: var(--colorblanco);
  }
  .tittle-2{
    font-size: 20px;
    color: var(--colorgreen1);
  }

  .descripcion{
    font-size: 15px;
    color: var(--colorblanco);
  }

  @media (max-width:768px) {
    .descripcion{
      font-size: 12px;
    }
    .portada1{
      height: 70vh;
    }
  }
  
  h2{
    font-weight: bold;
    color: var(--colorgreen1);
  }
  /*-----------------------------------------------------------------  index.html -------------------------------------------------------*/

  /*--------- seccion productos mas vendidos ----------------*/
  .section-p{
    background-color: #E5E1E1;
  }

  .contenedor-p { 
    background-color: #FAFAFA;
    width: 95%;
    max-width: 1300px;
    margin: 35px auto;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

.cards-wrapper {
    display: flex;
    justify-content: center;
  }

.card-p{
    border-radius: 15px;
    background-color: #fff;
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    transition: 0.2s all;
}
.card-p:hover{
    transform: scale(1.05);
}

.card-p img{
    border-radius: 15px;
    max-width: 100%;
  max-height: 100%;
}

  .carousel-p {
    padding: 1em;
  }

/*---------------- opiniones ----------------------------*/
  
.card-o{
    padding: 15px;
    border-radius: 15px;
    background-color: #fff;
    
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    transition: 0.2s all;
}

.card-o:hover{
    scale: 1.05;
}

.card-o img{
    display: flex;
    align-items: center;
    border-radius: 15px;
    object-fit: cover;
    border-radius: 15px;
    max-width: 200px;
}
  
.card-body img{
    display: inline;
    border-radius: 50px;
    max-height: 60px;
    object-fit: cover;
}

/* .carousel-item {
    padding: 17px;
  }

  .carousel-control-next{
    background-color: #EEEEEE;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-control-prev{
    background-color: #EEEEEE;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }  */

  .btn-izq{
    background-color: var(--colorgreen1);
    color: var(--colorblanco);
  }
  .btn-izq:hover{
    background-color: var(--colorgreen1hover);
    color: var(--colorblanco);
  }
  .btn-der{
    background-color: var(--colorgreen2);
    color: var(--colorblanco);
  }
  .btn-der:hover{
    background-color: var(--colorgreen2hover);
    color: var(--colorblanco);
  }

  .card-title{
    color: var(--colorgreen1);
    font-weight: bold;
  }
  small{
    color: var(--colorgreen2);
  }


  /*carrusel simplificado*/
  .carousel__contenedor {
    margin: 10px;
    position: relative;
  }
  
  .carousel__anterior,
  .carousel__siguiente {
    position: absolute;
    display: block;
    width: 45px;
    height: 45px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: #EEEEEE;
    color: #000;
    font-size: 35px;
    opacity: 20%;
  }
  
  .carousel__anterior:hover,
  .carousel__siguiente:hover {
    opacity: 100%;
  }
  
  .carousel__anterior {
    z-index:100;
    left: -5px;
  }
  
  .carousel__siguiente {
    right: -5px;
  }
  
  .carousel__lista {
    padding: 15px;
    overflow: hidden;
  }
  
  .carousel__elemento {
    text-align: center;
  }
  
  .carousel__indicadores .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: #000;
    opacity: .2;
    border-radius: 0;
  }
  
  .carousel__indicadores .glider-dot:hover {
    opacity: .5;
  }
  
  .carousel__indicadores .glider-dot.active {
    opacity: 1;
  }
  


/*--------------- footer  ---------------------*/
footer{
    height: 300px;
    background-color: var(--colorgreen1);
    color: #fff;
}


