
*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

:root{
  --colorgreen1: #035941;
  --colorgreen1hover:#01412f;
  --colorgreen2: #7DA641;
  --colorgreen2hover: #6b9133;
  --colornaranja1: #F2AC57;
  --colornaranja2: #F2CEA2;
  --colorbackground: #E5E1E1;
  --colorlight: #FAFAFA;
  --colorblanco: #fff;
  --colornegro:#000;
}

.section-t-o{
    background-color: var(--colorbackground);
}

.carousel{
  transition: 0.7s;
}

.contenedor-t { 
    width: 95%;
    max-width: 1300px;
    margin: 0px auto;
}



  .boton-Vista-Empresa:hover img {
    filter: brightness(70%);
  }

  .button-container a img {
    object-fit: cover;
    max-height: 260px;
  }

  .button-container {
    position: relative;
    transition: 0.3s all;
  }

  .button-container:hover{
    transform: scale(1.05);
  }


  .button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: var(--colorblanco);
    font-weight: bold;
    text-align: center;
  }

h2{
  color: #01412f;
}



  .contenedor-carrusel{
    min-height: 65vh;
  }
  
  .img-car{
    object-fit: cover;
    min-height: 65vh;
  }
  
  .carousel-item {
      padding: 0px;
    }
  
    .carousel-control-next{
      background-color: var(--colorblanco);
      width: 6vh;
      height: 6vh;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
    .carousel-control-next .img-next{
      width: 6vh;
      height: 6vh;
      border-radius: 50%;
      background-color: var(--colornegro);
    }
  
    .carousel-control-prev{
      background-color: var(--colorblanco);
      width: 6vh;
      height: 6vh;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .carousel-control-prev .img-prev{
      width: 6vh;
      height: 6vh;
      border-radius: 50%;
      background-color: var(--colornegro);
    }

    .btn-izq{
      background-color: var(--colorgreen1);
      color: var(--colorblanco);
    }
    .btn-izq:hover{
      background-color: var(--colorgreen1hover);
      color: var(--colorblanco);
    }

  /*--------------- footer  ---------------------*/
footer{
    height: 300px;
    background-color: var(--colorgreen1);
    color: #fff;
}