*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

:root{
    --colorgreen1: #035941;
    --colorgreen1hover:#01412f;
    --colorgreen2: #7DA641;
    --colorgreen2hover: #6b9133;
    --colornaranja1: #F2AC57;
    --colornaranja2: #F2CEA2;
    --colorbackground: #E5E1E1;
    --colorlight: #FAFAFA;
    --colorblanco: #fff;
    --colornegro:#000;
  }
  
 /*-----------------------------------------------------------------  tiendaOnline1.html -------------------------------------------------------*/
  

  .card-t{
    padding: 15px;
    /*border-bottom: 4px solid #000;*/
    
    background-color: transparent;
    transition: 0.2s all;
}

.card-t::after{
    content: "";
    display: block;
    background: var(--colornegro);
    width: 100%;
    margin-top: 15px;
    height: 3px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.card-t:hover{
    scale: 1.1;
}

.card-t img{
    display: flex;
    align-items: center;
    object-fit: cover;
    max-width: 270px;
}


.section-t-o{
    background-color: var(--colorbackground);
}


.contenedor-t { 
    width: 95%;
    max-width: 1300px;
    margin: 0px auto;
}


.content-productos{
    background-color: var(--colorbackground);
}






/* .carousel-item {
    padding: 17px;
  }

  .carousel-control-next{
    background-color: var(--colorblanco);
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-control-prev{
    background-color: var(--colorblanco);
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  } */

  /*carrusel simplificado*/
  .carousel__contenedor {
    margin: 10px;
    position: relative;
  }
  
  .carousel__anterior,
  .carousel__siguiente {
    position: absolute;
    display: block;
    width: 45px;
    height: 45px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background: #EEEEEE;
    color: #000;
    font-size: 35px;
    opacity: 20%;
  }
  
  .carousel__anterior:hover,
  .carousel__siguiente:hover {
    opacity: 100%;
  }
  
  .carousel__anterior {
    z-index:100;
    left: -5px;
  }
  
  .carousel__siguiente {
    right: -5px;
  }
  
  .carousel__lista {
    margin: 7px;
    padding: 10px;
  }
  
  .carousel__elemento {
    text-align: center;
  }
  
  .carousel__indicadores .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: #000;
    opacity: .2;
    border-radius: 0;
  }
  
  .carousel__indicadores .glider-dot:hover {
    opacity: .5;
  }
  
  .carousel__indicadores .glider-dot.active {
    opacity: 1;
  }




.text-cabecera{
    color: var(--colorgreen1);
    font-weight: bold;
}

  .card-emp {
    background-color: var(--colorblanco);
    width: auto;
    border: none;
    border-radius: 18px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    margin: 0 0.5em;
    padding: 16px;
    transition: 0.2s all;
  }

  .card-emp:hover{
    scale:1.02;
}
  
  .card-emp .row {
    display: flex;
    flex-wrap: wrap;
  }

  .card-emp .row .col-md-6 img{
    object-fit: contain;
  }
    
  .card-titulo {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--colorgreen1);
  }
  
  .card-texto {
    font-size: 16px;
    line-height: 1.5;
  }
  

  


/*--------------- footer  ---------------------*/
footer{
    height: 300px;
    background-color: var(--colorgreen1);
    color: var(--colorblanco);
}
