*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

:root{
  --colorgreen1: #035941;
  --colorgreen1hover:#01412f;
  --colorgreen2: #7DA641;
  --colorgreen2hover: #6b9133;
  --colornaranja1: #F2AC57;
  --colornaranja2: #F2CEA2;
  --colorbackground: #E5E1E1;
  --colorlight: #FAFAFA;
  --colorblanco: #fff;
  --colornegro:#000;
}

  .section-newproduct{
    background-color: var(--colorbackground);
  }

  .contenedor-newproduct { 
    background-color: var(--colorlight);
    width: 90%;
    max-width: 600px;
    margin: 35px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}




.contenedor-choose{
  background-color: var(--colorlight);
  width: 90%;
  max-width: 700px;
  justify-content: center;
  margin: 35px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}
.image-container{
  width: 90%;
  margin: 0 auto 30px auto;
}
.image-container img{
  display: block;
  max-width: 100%;
  max-height: 430px;
  margin: auto;
}
figcaption{
  margin: 20px 0 30px 0;
  text-align: center;
  color: #2a292a;
}
.input-content[type="file"]{
  display: none;
}
.label-button{
  display: flex;
  justify-content: center;
  background-color: var(--colorgreen1);
  color:var(--colorblanco);
  font-size: 18px;
  text-align: center;
  width: auto;
  padding: 18px 0;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
}

.contenedor-carrusel{
  background-color: #060D54;
  min-height: 60vh;
}

.img-car{
  object-fit: cover;
  min-height: 60vh;
}

.carousel-item {
    padding: 0px;
  }

  .carousel-control-next{
    background-color: var(--colorblanco);
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  .carousel-control-next .img-next{
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background-color: var(--colornegro);
  }

  .carousel-control-prev{
    background-color: var(--colorblanco);
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel-control-prev .img-prev{
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    background-color: var(--colornegro);
  }


/*--------------- footer  ---------------------*/
footer{
    height: 300px;
    background-color: var(--colorgreen1);
    color: var(--colorblanco);
}