*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

:root{
  --colorgreen1: #035941;
  --colorgreen1hover:#01412f;
  --colorgreen2: #7DA641;
  --colorgreen2hover: #6b9133;
  --colornaranja1: #F2AC57;
  --colornaranja2: #F2CEA2;
  --colorbackground: #E5E1E1;
  --colorlight: #FAFAFA;
  --colorblanco: #fff;
  --colornegro:#000;
}


  .contenedor-grafico { 
    background-color: var(--colorlight);
    width: 90%;
    max-width: 1300px;
    margin: 35px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

  .dashboard{
    background-color: var(--colorbackground);
  }


  .info-card {
	padding-bottom: 10px;
  }
  .info-card h6 {
	font-size: 28px;
	color: var(--colorgreen1);
	font-weight: 700;
	margin: 0;
	padding: 0;
  }

  .card-icon {
	font-size: 32px;
	line-height: 0;
	width: 64px;
	height: 64px;
	flex-shrink: 0;
	flex-grow: 0;
  }
  .sales-card .card-icon {
	color: #4154f1;
	background: #f6f6fe;
  }
  .revenue-card .card-icon {
	color: #2eca6a;
	background: #e0f8e9;
  }
  .customers-card .card-icon {
	color: #ff771d;
	background: #ffecdf;
  }


  /*--------------- footer  ---------------------*/
footer{
    height: 300px;
    background-color: var(--colorgreen1);
    color: #fff;
}