*{
    margin:0px;
    padding: 0px;
}
body {
  font: 200 16px Lato, sans-serif;
  height: 100%;
  overflow-x: hidden;
}

#container{
    width: 100%;
    margin: 0px auto;
    border: 1px solid black;
}

header{
    background: url("imagenes/index/bannerIndex.png") center;
    height: 400px;
    width: 100%;
    text-align: center;
    line-height: 400px;
    color: white;
}

nav{
    height: 60px;
    background-color:#17181C;
    text-align: center;

}
nav ul{
    list-style: none;
    display: inline-block;
    padding:15px;
 }

nav ul li{
    float: left;
    margin-top: 5px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
}

.clearfix{
    clear: both;
}

#content{
    width: 100%;
    height: 545px;
    background: #4E4E4E;
}
.cuadrado{
    position: absolute;
    width: 521px;
    height: 481px;
    left: 20px;
    top: 519px;

    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #4E4E4E 100%);
}
.imagen{
    position: absolute;
    width: 510px;
    height: 395px;
    left: 45px;
    top: 554px;
    
    background: url("imagenes/index/indexHola.png");
}

.tarjetaBlanca{
    position: absolute;
    width: 555px;
    height: 418px;
    left: 650px;
    top: 543px;

    background: #FFFFFF;
    border-radius: 25px;
}

.titulo{
    position: absolute;
    width: 206px;
    height: 42px;
    left: 696px;
    top: 623px;

    font-weight: 800;
    font-size: 35px;
    line-height: 42px;

    color: #000000;
}
.descripcion{
    position: absolute;
    width: 460px;
    height: 187px;
    left: 696px;
    top: 698px;

    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;

    color: #000000;
}

.logomanzana{
    position: absolute;
    width: 85px;
    height: 105px;
    left: 1065px;
    top: 570px;

    background: url("imagenes/index/indexManzana.png");
}

footer{
    width: 100%;
    height: 25px;
    background: black;
    color: white;
    text-align: center;
    font-family: Lato,sans-serif;
    line-height: 25px;
    font-size: 12px;
}
