
*{
    margin:0px;
    padding: 0px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

#opciones{
    font: 200 16px Lato, sans-serif;
    height: 100%;
}

#container{
    width: 100%;
    margin: 0px auto;
    border: 1px solid black;
}


#content{
    width: 100%;
    height: auto;
    background: #fcfafa;
}

header{
    background: url("imagenes/evolucion/bannerEvolucion.png") center;
    height: 400px;
    width: 100%;
    text-align: center;
    line-height: 400px;
    color: white;
}

nav{
    height: 60px;
    background-color:#17181C;
    text-align: center;

}
nav ul{
    list-style: none;
    display: inline-block;
    padding:15px;
 }

nav ul li{
    float: left;
    margin-top: 5px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 30px;
}

footer{
    width: 100%;
    height: 25px;
    background: black;
    color: white;
    text-align: center;
    font-family: Lato,sans-serif;
    line-height: 25px;
    font-size: 12px;
}

.contenedor-body{
    padding: 20px 5px 50px 5px;
    width:100%;
    max-width: 1300px;
    margin: 0px auto;
    overflow: auto;
    background: #aa5656;
}

/*INICIO*/
.titulo-inicio{
    padding: 50px;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
}

.titulo-parrafo1{
    text-align: center;
    line-height: 20px;
    color:#d8d1d1;
    text-size-adjust: 8px;
}

.titulo-parrafo2{
    text-align: center;
    line-height: 5px;
    color:#535151;
    text-size-adjust: 8px;
}

.galeria-port{
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}

.imagen-port{
    width: 30%;
    margin-bottom:20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6p 0 #919b99;
}

.imagen-port>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
/*.imagen:hover{
    filter:blur(2.5px);
}*/
/*APARTADO*/

.descripcion-imagen{
    width: 92.5%;
    text-align: justify;
}


.imagen-hover{
    position: absolute;
    width: 92.5%;
    height: 63.5%;
    top:0;
    transform: scale(0);
    background: rgba(161, 161, 161, 0.7);
    transition: transform .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen-port:hover .imagen-hover{
    transform: scale(1);
}

.imagen-hover img{
    width:50px;
    height: 100px;
}

/* TIMELINE */
.timeline {
    position: relative;
    padding: 0 10px 10px 10px;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 0px;
    min-height: 0px;
}

.timeline>li:before, .timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 20px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -10px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -10px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 200;
    position: absolute;
    left: 0;
    width: 30px;
    height: 10px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 90%;
    text-align: center;
    color: #fff;
    background-color: #919b99;
}

.timeline>li .timeline-image h4 {
    margin-top: 0px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -5px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 49.25%; /*LINEA IZ-DERECHA*/
    }

    .timeline>li {
        margin-bottom: 40px;/*MARGEN ENTRE CADA PARRAFO*/
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 45%;
        padding: 0px 0px 0px 0px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 49%; /* IZQ-DER CIRCULO*/
        width: 50px;
        height: 50px;
        margin-left: -32px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 0px;
        font-size: 50px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 20px 20px 20px;
        text-align: left;
    }
}

