@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*,::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.biografia{
    font-family: 'Quicksand',sans-serif;
    margin-bottom: 30px;
}

.portada{
    border: 1px;
    text-align: center;
}

.portada img{
    height: 100%;
    width: 100%;
    line-height: 100vh;
}
/*EN PROCESO*/
.portada img::before{
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
}
.contenedor1{
    /* background-color: #fff; */
    /*border: 1px solid #000;*/
	 width: 90%;
	 max-width: 1200px;
	 margin: 20px auto;
}
.content-b1{
     align-items: center;
     /*border: 1px solid #000; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
    padding: 90px 0px;
    flex-wrap: wrap;
}
.content-b2{
    align-items: center;
   /*border: 1px solid #000;*/
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.letter{
    /*border: 1px solid #000;*/
    padding-top: 10px;
    font-family: 'Quicksand','Roboto', sans-serif;
    font-size: 1rem;
    align-items: center;
}
.titulo-principal{
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    padding: 20px
}
.tituloizq-b1{
    font-weight: bold;
    margin-bottom: 0px;
    text-align: right;
    padding: 15px;
}
.tituloder-b1{
    font-weight: bold;
    margin-bottom: 0px;
    text-align: left;
    padding: 15px;
}
.textoder{
    text-align: left;
    padding: 15px 100px 15px 15px;
}
.textoizq{
    text-align: right;
    padding: 15px 15px 15px 100px;
}

.biografia-1{
    background-color:#f2f2f2f2;
}
.biografia-3,.biografia-4,.biografia-5,.biografia-6,.biografia-7{
    border-top: 1px solid #f2f2f2;
    margin-bottom: -20px;
    background-color: #f2f2f2;
}
.content-biography{
    background-color: #f2f2f2;
}
.content-b1 img{
    border: 1px;
    border-radius: 15px;
    justify-content: center;
    width: 40vh;
    object-fit: contain;
    margin: auto;
}
/*-------------RECONOCIMIENTOS----------*/
.content-rec{
    width: minmax(100px, 400px);
    /*border: 1px solid #000;*/
    padding: 20px;
}
.reconocimientos{
    /*border: 1px solid #000;*/
    display: flex;
    justify-content: space-evenly;
}
.tip-rec{
    /*border: 1px solid #000;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.conjunt-img2{
    border: 1px;
    border-radius: 15px;
    justify-content: center;
    width: 33vh;
    height: 80%;
    object-fit: contain;
    margin: auto;
}
.txt-rec{
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    padding: 20px;
}
.titulo-rec{
    /*border: 1px solid #000;*/
    font-size: 1.5rem;
    text-align: center;
    margin: auto 10px;
}
/*otra forma de ver la biografia--------------------*/
.content-bi{
    display: grid;
    padding: 40px;
    
}
.lado-der{
    grid-template-columns: 2fr 3fr;
}
.lado-izq{
    grid-template-columns: 3fr 2fr;
}

.content-img{
    width: 75%;
    height: 75%;
    object-fit: contain;
    align-self: center;
    justify-self: center;
    
}
.contenedor-texto{
    align-self: center;
}

.caja-izq{
    padding-right: 70px;
}
.caja-der{
    padding-left: 70px;
}
.txt-izq{
    text-align: left;
}
.txt-der{
    text-align: right;
}
.content-tit{
    color: #333;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 24px;
}

.content-info{
    color: #333;
    font-size: 1rem;
    margin-bottom: 24px;
}
.menunav{
    background-color: red;
    padding: 0;
    margin: 0;
}
aside{
    display: flex;
    justify-content: space-evenly;
    min-width: 10%;
    height: 100%;
    background: #333;
    opacity: 0.9;
    font-weight: bold;
    font-size: 1.1rem;
    position: sticky;
    top: 0;
    z-index: 1;
}
.menutext{
    margin-top: 0;
    padding:20px 50px;
    color: #f2f2f2;
    text-decoration: none;
    
}
.menutext:hover{
    background-color: white;
    color: #333;
}

.conjunt-img{
    padding: 15vh;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: minmax(min-content,1fr);
    grid-auto-columns: minmax(min-content,1fr);
    gap: 5px;
}
/*.conjunt-img1{
    padding: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(min-content,1fr);
    grid-auto-columns: minmax(min-content,1fr);
} */
.content-img-1{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-big1{
    grid-area: 1 / 1 / 5 / 4;
}
.img-big2{
    grid-area: 2 / 4 / 5 / 6;
}
/*-------------RECONOCIMIENTOS----------*/
.content-rec-2{
    /*border: 1px solid #000;*/
    width: minmax(100px, 400px);
    padding: 0 20px 0 20px;
}
.reconocimientos-2{
    /*border: 1px solid #000;*/
    display: flex;
    justify-content: space-evenly;
}
.tip-rec-2{
    /*border: 1px solid #000;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.conjunt-img3{
    border: 1px;
    border-radius: 15px;
    justify-content: center;
    width: 33vh;
    height: 80%;
    object-fit: contain;
    margin: auto;
}
.txt-rec-2{
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    padding: 20px;
}
.titulo-rec-2{
    /*border: 1px solid #000;*/
    text-align: center;
    font-size: 1.5rem;
    text-align: center;
    margin: auto 10px;
}

/* Footer */
.nav {
    justify-content: center;
    height: 100%;
    display: flex;
    align-items: center;
}
footer{
    font-family: 'Poppins', sans-serif;
}
.nav-link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}
.footer{
    padding: 20px;
    background-color: #1D293F;
}
.nav-items {
    list-style: none;
}

.nav-links {
    color: #fff;
    text-decoration: none;
}

.footer-title, .footer-newsletter{
    color: #fff;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
}

.nav--footer{
    padding-bottom: 10px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    width: 100%;
    height: 100%;
}

.nav-link--footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-copy{
    text-align: center;
    color: #fff;
}

.footer-copyright{
    font-weight: 300;
}

.footer-icons{
    margin-bottom: 10px;
}

.footer-img{
    width: 30px;
}

/*TARJETITA*/

.card{
    border: 1px solid #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    padding: 60px 0;
}

.card-item{
    background-color:  #1D293F;
    width: 90%;
    margin: 0 auto;
    padding: 1.5em 1em;
    border-radius: 4px;
    box-shadow: 1px 1px 10px -5px rgb(255, 255, 255, .5);
}

.card-item--first{
    position: relative;
}

.card-item--first::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./imagenes/tarjeta/bg-quotes.png");
    width: 30px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.card-profile{
    margin-top: 1.5em;
    display: flex;
    align-items: center;
    gap: .5em;
}

.card-picture{
    width: 40px;
    height: 40px;
}

.card-img{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card-name{
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
}

.card-job{
    color: #aaa9a9;
}
@media (min-width: 740px){
    .card{
        flex-direction: row;
    }
}
